* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

button {
    margin: 5px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px 3px;
}


.container {
    box-sizing: border-box;
    outline: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5px 5px;
}

.container div {
    box-sizing: border-box;
    background-color: white;
}